.contactbox {
    width: 350px;
    height: 110px;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    align-items: center;

}

.contactInfoBox {
    margin: 0 auto;
    margin-left: 15px;
    padding: 0;
    display: grid;
    gap: 10px;
}

.contactInfo {
    margin: 0;
    display: flex;
    gap: 5px;
    font-size: 19px;
}


.buttonDel {
    width: auto;
    height: 40px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: rgb(191, 166, 228);
    }
}